

@model assignment1.Models.Rent

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Calculate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HO" class="control-label">Hall Owner</label>
                <input asp-for="HO" class="form-control" />
                <span asp-validation-for="HO" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cost" class="control-label">Cost Per Day</label>
                <input asp-for="cost" class="form-control" />
                <span asp-validation-for="cost" class="text-danger"></span>
            </div>
            <div> <label asp-for="sd" class="control-label">Start Date</label>
                <input asp-for="sd" class="form-control" />
                <span asp-validation-for="sd" class="text-danger"></span>    
            </div>
            <div class="form-group">
                <label asp-for="ed" class="control-label">End Date</label>
                <input asp-for="ed" class="form-control" />
                <span asp-validation-for="ed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Calculate" class="btn btn-primary" />
            </div>
        </form>
    </div>

</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
