@page
@model practice.Pages.homeModel
@{
    <p>this is the home menu</p>
  //  <input type="button" value="Books" />
 // <button type="submit">get data</button>
 <form method="post" >
 
 <input type="submit" value="GetData"/>
 
 </form>
}
