@* @{
    ViewData["Title"] = "Calculate";
}

<h2>@ViewBag.name</h2>
<div>
    <p>Owner:@ViewBag.hallowner</p>
    <p>Cost per day:@ViewBag.costperday</p>
    <p>Renting from @ViewBag.startdat to @ViewBag.enddate</p>
    <p>Total cost:@ViewBag.rent</p>
</div> *@